<%= render 'stories/navbar', organization: @organization, user: current_user %>

<h2> <%= link_to "Home", stories_path %> > <%= @story.headline %> </h2>

<div class="w-full">
    <div class="border-solid border-2 w-full pb-2 mb-4">


        <%= form_with scope: :story, url: story_path(@story), method: :put do |form| %>
            <div class="mt-6 mx-4">
                <div class="flex items-center">
                    <div>
                        <%= form.label "Headline: " %>
                        <%= form.text_field :headline %>
                        <% @story.errors.full_messages_for(:headline).each do |message| %>
                        <div><%= message %></div>
                        <% end %>
                    </div>
                    <div class="ml-auto">
                        <%= render 'stories/status', story: @story %>
                    </div>
                </div>

                <div class="mt-4">
                    <% if current_user.chief_editor? %>
                        <span>
                            <%= form.label "Writer: " %>
                            <%= form.select :writer_id, options_for_select([["", nil]] + @users.map { |user| [user.email, user.id] }), {}, { class: 'form-control' } %>
                        </span>

                        <span class="ml-4">
                            <%= form.label "Reviewer: " %>
                            <%= form.select :reviewer_id, options_for_select([["", nil]] + @users.map { |user| [user.email, user.id] }), {}, { class: 'form-control' } %>
                        </span>
                    <% end %>

                </div>

                <div class="mt-8 w-full">
                    <%= form.text_area :body, rows: 10 , style: 'width:100%', :disabled => current_user.id != @story.writer_id %><br>
                    <% @story.errors.full_messages_for(:body).each do |message| %>
                    <div><%= message %></div>
                    <% end %>
                </div>

                <% if current_user.chief_editor? %>

                    <div class="flex items-center">
                        <div>
                            <% if @story.approved? %>
                                <span>
                                    <%= form.submit 'Publish', 
                                    class: 'px-4 py-1.5 cursor-pointer bg-cyan-500 hover:bg-cyan-700 text-slate-200 w-40',
                                    formaction: change_status_path(id: @story.id, status: "publish"), 
                                    :disabled => !@story.approved? %>
                                </span>

                                <span>
                                    <%= form.submit 'Archive',
                                    class: 'px-4 py-1.5 cursor-pointer bg-gray-500 hover:bg-gray-700 text-slate-200 w-40', 
                                    formaction: change_status_path(id: @story.id, status: "archive") %>
                                </span>
                            <% end %>

                        </div>
                        <div class="ml-auto">
                            <% if @story.unassigned? || @story.draft? %>
                                <span>
                                    <%= link_to "Cancel", stories_path, class: 'px-4 py-2 cursor-pointer bg-gray-300 hover:bg-gray-500' %>
                                </span>
                                <span class="ml-2">
                                    <%= form.submit "Save", class: 'px-4 py-1.5 cursor-pointer bg-cyan-500 hover:bg-cyan-700 text-slate-200' %>
                                </span>
                            <% end %>

                        </div>
                    </div>



                <% end %>

                <% if current_user.id == @story.writer_id && !@story.published? %>
                    <div class="flex items-center">
                        <div>
                            <%= form.submit "Request Review",
                                class: 'px-4 py-1.5 cursor-pointer bg-cyan-500 hover:bg-cyan-700 text-slate-200 w-40',
                                formaction: change_status_path(id: @story.id, status: "request_review"), 
                                :disabled => !@story.draft?%>
                        </div>

                        <div class="ml-auto">
                            <span>
                                <%= link_to "Cancel", stories_path, class: 'px-4 py-2 cursor-pointer bg-gray-300 hover:bg-gray-500' %>
                            </span>
                            <span class="ml-2">
                                <%= form.submit "Save", class: 'px-4 py-1.5 cursor-pointer bg-cyan-500 hover:bg-cyan-700 text-slate-200' %>
                            </span>
                        </div>
                    
                    </div>


                <% end %>

                <% if current_user.id == @story.reviewer_id %>
                    <% if @story.for_review? %>
                        <span>
                            <%= form.submit 'Review', 
                            class: 'px-4 py-1.5 cursor-pointer bg-cyan-500 hover:bg-cyan-700 text-slate-200 w-40', 
                            :disabled => !@story.for_review?, 
                            formaction: change_status_path(id: @story.id, status: "start_review") %>
                        </span>
                    <% elsif @story.in_review? %>
                        <span>
                            <%= form.submit 'Approve', 
                            class: 'px-4 py-1.5 cursor-pointer bg-cyan-500 hover:bg-cyan-700 text-slate-200 w-40', 
                            :disabled => !@story.in_review?, 
                            formaction: change_status_path(id: @story.id, status: "approve") %>
                        </span>
                        <span>
                            <%= form.submit 'Request Changes',
                            class: 'px-4 py-1.5 cursor-pointer bg-yellow-500 hover:bg-yellow-700 text-slate-200 w-40', 
                            :disabled => !@story.in_review?, 
                            formaction: change_status_path(id: @story.id, status: "request_changes") %>
                        </span>
                    <% end %>



                <% end %>

                
            </div>
            
        <% end %>


    </div>
</div>





<div  class="border-solid border-2 w-full pb-2 mb-4">
    <h2>Comments</h2>
    <%= render @story.comments %>

    <% if @story.comments_open %>
        <h2>Add a comment:</h2>
        <%= render 'comments/form' %>
    <% end %>
</div>


